body {
  font-family: sans-serif;
  background-color: #6a8bee;
}

h1 {
  text-align: center;
  color: #6a8bee;
  text-shadow: 5px 5px 15px grey;
}

main {
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 8px 8px 10px #6a8bee;
  border-radius: 10px;
  min-height: 600px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
}

button {
  padding: 10px;
  box-shadow: 3px 3px 10px grey;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #6a8bee;
  cursor: pointer;
  margin-bottom: 20px;
}

#winner {
  font-size: 3rem;
}
